<section>
  <h3 class="font-bold text-3xl lg:text-4xl text-gray-800">
    Latest posts
  </h3>
  {%- for post in site.posts limit:include.limit -%}
    <li class="py-2 rounded-lg list-none">
      <h3>
        <a class="text-xl text-indigo-600" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <p class="mt-1 text-sm text-gray-700">
        {%- if post.description -%}
          {{ post.description }}
        {%- endif -%}
      </p>
      <p class="mt-1 text-sm text-gray-600">
        Published on {{ post.date | date: "%b %-d, %Y" }}
      </p>
    </li>
  {%- endfor -%}
</section>
