<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="flex flex-col min-h-screen">

    <nav class="flex justify-between items-center p-3 bg-white shadow" role="navigation" aria-label="main navigation">
      <h1><a class="font-mono text-2xl font-bold text-indigo-600 no-underline" href="/">#! /nirebu</a></h1>
      <div>
        <a class="ml-2" href="/blog/">Blog</a>
      </div>
    </nav>

    <main class="container max-w-4xl mx-auto px-12 py-8 lg:px-0 flex-grow" aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}

  </body>

</html>
