---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h3 class="font-bold text-4xl text-gray-800" itemprop="name headline">{{ page.title | escape }}</h3>
    {%- if page.description -%}
      <blockquote class="border-l-4 border-gray-500 bg-gray-100 p-3 pl-4 my-4 italic">{{ page.description }}</blockquote>
    {%- endif -%}
    {%- if page.date -%}
      <p class="text-sm text-gray-500">
        Published on
        <time class="" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="" itemprop="name">Nicolò</span></span>
      </p>
    {%- endif -%}
  </header>

  <div class="mt-4 markdown" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="hidden" href="{{ page.url | relative_url }}" hidden></a>
</article>
